/*-------------------------------------------
Utility u-
-------------------------------------------*/
.u-center {
	text-align: center;
}

.u-white {
	color: #fff;
}

.u-hide {
	display: none;
}
