/*-------------------------------------------
Fonts
-------------------------------------------*/
$mainFont: "NotoSansCJKjp", "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN,", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

/*-------------------------------------------
Base width
-------------------------------------------*/
$baseWidth: 1040px;

/*-------------------------------------------
Breakpoint
-------------------------------------------*/
$breakpoint0: 480px;
$breakpoint1: 767px;
$breakpoint2: 1060px;

/*-------------------------------------------
Common color
-------------------------------------------*/
$color1:#ff4a4f;
$color2:#777777;
$color3:#4c7f30;
$color4:#f1f1f1;
$color5:#061544;

/*-------------------------------------------
link color
-------------------------------------------*/
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;
