//baseWidth
//$baseWidth1:1000px;

// Breakpoint
$breakpoint1: 767px;
$breakpoint2: 480px;
$breakpoint3: 1060px;

// Common Colors
$color1:#111111;
$color2:#0181C0;
$color3:#2D3D45;
$color4:#1C5472;
$cam :#F79E39;
$xanh :#0181C0;
// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;