/*------------------------------------------------------------
set_ttl
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-set_ttl1 {
    display: flex;
    justify-content: space-between;

    &__txt {
        max-width: 620px;
        font-size: 1.4rem;
    }
}
