//baseWidth
$baseWidth: 1280px;

// Breakpoint
$breakpoint1: 1024px;
$breakpoint2: 768px;
$breakpoint3: 960px;

// Common Colors
$color-blue1: #0068b6;

$color-blue2: #1778F2;

$color-blue3: #0068B7;

$color-blue4: #164B81;

$color-white: #fff;

$color-black: #000;

$color-gray1: #aaa;

$color-gray3: #333;

$color-gray4: #444;

$color-gray5: #555;

$color-gray6: #666;

$color-gray7: #777;

$color-gray8: #888;

$color-gray9: #999;

$color-gray10: #464E56;

$color-gray11: #F0F2F3;

$color-gray-b: #bbb;

$color-border: #d8d8d8;

$color-red: #E83921;

$color-red2: #E83820;

$color-red3: #FF0000;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;
