<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('partials/header') -%>
	<title>Pick Diff</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="container mt-5">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
			<li class="breadcrumb-item active" aria-current="page">Pixel Diff</li>
		</ol>
	</nav>
	<form class="was-validated mt-5" method="post" id="form-design" action="" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<h5 class="card-header">Options</h5>
					<div class="card-body p-2 m-0">
						<div class="form-group">
							<label>Input Url:</label>
							<input type="text" name="url" class="form-control url" value="https://www.google.com/" placeholder="Enter Url">
							<ul class="error" required></ul>
						</div>
						<div class="form-group">
							<label for="inputEmail4">Width:</label>
							<input type="number" class="form-control" id="width" name="width" placeholder="width" value="1200" min="300" max="3000">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<h5 class="card-header">Basic Auth</h5>
					<div class="card-body p-2 m-0">
						<div class="form-group">
							<div class="col-md-12 p-0">
								<label for="inputEmail4" name="username">Username:</label>
								<input type="text" class="form-control" id="username" placeholder="username">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail4">Password:</label>
							<input type="password" class="form-control" name="password" id="password" placeholder="password">
						</div>
					</div>
				</div>
			</div>
		</div>
	  <div class="row mt-2">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header d-flex justify-content-between">
						<h5>Master PNG/JPG file</h5>
						<input type="file" style="max-width:105px" accept="image/x-png,image/jpeg" name="design" id="upload_file">
					</div>
					<div class="card-body p-0 m-0" style="max-height:365px; overflow: auto;">
						<img class="w-100" id="blah" src="#" alt="" />
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header d-flex justify-content-between">
						<h5>IE Screenshot</h5>
						<input type="file" style="max-width:105px" accept="image/x-png,image/jpeg" name="upload_file_ie" id="upload_file_ie">
					</div>
					<div class="card-body p-0 m-0" style="max-height:365px; overflow: auto;">
						<img class="w-100" id="show_img_ie" src="#" alt="" />
					</div>
				  </div>
			</div>
	  </div>
	  <button type="button" class="btn btn-primary mt-3 c-btn">Submit</button>
	</form>
  </div>
</body>
</html>
<script src="Upload.js"></script>
<script>
	var upload = '';
	var upload_ie = '';
    $(document).ready(function() {
		$("#upload_file").change(function() {
			readURL(this);
		});

		$("#upload_file_ie").change(function() {
			readURLIE(this);
		});

        $("#upload_file").on("change", function (e) {
            var file = $(this)[0].files[0];
            upload = new Upload(file);
        });

		$("#upload_file_ie").on("change", function (e) {
			var file_ie = $(this)[0].files[0];
            upload_ie = new Upload(file_ie);
		});
		
        $('.c-btn').click(function(e) {
            // check if choose file
            var url = $('.url').val();
            if (!validURL(url)) {
                $('.error').text("");
                $('.error').append("<li class='form-control-label text-danger'>Url invalid</li>");
                return;
            } else {
                // call api
                callApiScreenshot(url);
            }
        });
	});
	
	function callApiScreenshot(url) {
		var width = $("#width").val();
		return new Promise(function(resovle, reject) {
			$.dialog({
				title: false,
				boxWidth: '30%',
				useBootstrap: false,
				cancelButton: false,
				confirmButton: true,
				theme: 'supervan',
				closeIcon: false,
				content: '<img src="/images/loading.gif">',
				onContentReady: function () {
					var formData = new FormData();
					formData.append("url", url);
					formData.append("width", width);
					if ($('#username').val() && $('#password').val()) {
						formData.append("username", $('#username').val());
						formData.append("password", $('#password').val());
					}

					if (upload.file != undefined)
						formData.append("file", upload.file, upload.getName());
					if (upload.file == undefined && upload_ie.file != undefined)
						formData.append("file_ie", upload_ie.file, upload_ie.getName());

					var self = this;
					return $.ajax({
						url:  '<%- process.env.DOMAIN%>api/screenshot',
						method: 'POST',
						contentType: false,
						processData: false,
						cache: false,
						data: formData
					}).done(function(response) {
						self.setContent(response.message);
						self.setTitle('SUCCESS');
						setTimeout(() => {
							postRedirectUrl(response.data, response.file, response.file_ie);
						}, 1000);
						return resovle(response);
					}).fail(function(err) {
						var iconSlose = self.$closeIcon.closest('.jconfirm-closeIcon')[0];
						$(iconSlose).css('display', 'block');
						$('.jconfirm-closeIcon').click(function() {
							$('.jconfirm-open').remove();
						});

						self.setContent(err.responseJSON.message);
						self.setTitle('ERROR');
						return reject(err);
					});
				},
			});
		})
	}
	
	function postRedirectUrl(browser='', file = '', file_ie = '') {
		var url = '<%- process.env.DOMAIN%>show-screntshot';

		var formElement = `<form action="${url}" method="GET" accept-charset="UTF-8">`;

		formElement +='<input type="hidden" name="screen_shot" value="'+ encodeURIComponent(JSON.stringify(browser)) +'" />'
		formElement +='<input type="hidden" name="file" value="'+ file +'" />'
		formElement +='<input type="hidden" name="file_ie" value="'+ file_ie +'" />'

		formElement += "</form>";

		var form = $(formElement);

		$('body').append(form);

		form.submit();
	}

	function validURL(str) {
		var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
			'((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
			'((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
			'(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
			'(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
			'(\\#[-a-z\\d_]*)?$','i'); // fragment locator
		return !!pattern.test(str);
	}
	
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			
			reader.onload = function(e) {
			$('#blah').attr('src', e.target.result);
			}
			
			reader.readAsDataURL(input.files[0]); // convert to base64 string
		}
	}

	function readURLIE(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			
			reader.onload = function(e) {
			$('#show_img_ie').attr('src', e.target.result);
			}
			
			reader.readAsDataURL(input.files[0]); // convert to base64 string
		}
	}
</script>