/*------------------------------------------------------------
Page glossary
------------------------------------------------------------*/
.p-glossary {
    &__wrap {
        margin: 60px 0 100px;

        @include sp {
            margin: 20px 0 50px;
        }
    }

    &__tit1 {
        margin: 98px 0 59px;

        @include sp {
            margin: 40px 0 30px;
        }
    }

    &_right {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .p-glossary_text {
            font-size: 18px;
            color: #1C5472;
        }
    }

    &__tit2 {
        margin: 82px 0 40px;

        @include sp {
            margin: 40px 0 20px;
        }
    }

    .c-list05 {
        margin: 0 -7px 0 -12px;

        @include sp {
            margin: 0;
        }

        &__item {
            padding: 0 10px;
            margin-bottom: 21px;

            @include sp {
                padding: 0;
            }

            &::after {
                width: 10px;
                height: 10px;
                background-size: 10px 10px;
                right: 9px;
                background-color: #ffffff;

                @include sp {
                    right: -1px;
                }
            }
        }

        &__ttl {
            font-size: 1.8rem;
        }

        .c-new__date {
            font-size: 9px;
            line-height: 1;
            margin: 4px 0 0;
        }

        &__link {
            padding: 24px 30px 22px 24px;

            &:after {
                width: 24px;
                height: 15px;
                background-size: 24px 15px;
                right: 21px;
            }

            @include hover {
                &::after {
                    right: 15px;
                }
            }
        }
    }

    .c-anchor {
        margin: 0 0 80px;

        @include sp {
            margin: 0 0 40px;
        }
    }

    .c-title12 {
        margin: 61px 0 44px;

        @include sp {
            margin: 30px 0 20px;
            align-items: center;
        }

        &__txt {
            @include sp {
                margin: 0;
            }
        }
    }
}

.p-glossaryDetail {
    &__wrap {
        margin: 60px 0 176px;

        @include sp {
            margin: 30px 0 47px;
        }
    }

    .c-title11 {
        margin: 47px 0 23px;

        @include sp {
            margin: 25px 0 10px;
        }
    }

    .c-tagtime {
        margin: 0 0 40px;

        @include sp {
            margin: 0 0 20px;
        }
    }
}