/*------------------------------------------------------------
Page redirect
------------------------------------------------------------*/
.p-redirect {
    margin-top: 155px;
    margin-bottom: 155px;
    text-align: center;

    @include sp {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}
