.p-tayorou-glossary {
    padding: 120px 0 0;

    @include sp {
        padding: 0;
    }

    .c-side01 {
        &__inner2 {
            .c-title25 {
                margin: 40px 0 17px;
            }
        }
    }

    &1 {
        padding: 40px 0 70px;

        @include sp {
            padding: 20px 0 40px;
        }

        &__content1 {
            padding: 40px 0 70px;

            @include sp {
                padding: 20px 0 30px;
            }

            .c-title26 {
                margin-bottom: 40px;

                @include sp {
                    margin-bottom: 19px;
                }
            }
        }

        &__content2 {
            .c-box31 {
                margin-bottom: 40px;

                @include sp {
                    margin-bottom: 20px;
                }
            }
        }

        &__item {
            &+.p-tayorou-glossary1__item {
                margin-top: 70px;

                @include sp {
                    margin-top: 40px;
                }
            }

            .c-title27 {
                margin-bottom: 40px;

                @include sp {
                    margin-bottom: 20px;
                }
            }

            .c-list42 {
                &__item {

                    &:last-child {
                        @include sp {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}



/*------------------------------------------------------------
tayorou-glossary-detail
------------------------------------------------------------*/
.p-tayorou-glossary-detail {
    padding: 120px 0 0;

    @include sp {
        padding: 0;
    }

    &1 {
        padding: 40px 0 80px;

        @include sp {
            padding: 20px 0 0;
        }

        .c-side01__inner2 {
            @include sp {
                display: none;
            }
        }
    }

    .c-side01 {
        &__inner2 {
            .c-title25 {
                margin: 40px 0 17px;

                &:first-child {
                    margin-top: 0;

                    @include sp {
                        margin-top: 32px;
                    }
                }
            }
        }

        &__inner1 {
            margin-top: 40px;

            @include sp {
                margin-top: 0;
            }
        }
    }
}