<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/admin">Chrono Driver</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%-user.email%><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <!-- <a class="dropdown-item" href="#">Settings</a> -->
                    <a class="dropdown-item" href="/">Home Users</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" onclick="logOut()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    function logOut() {
        $.confirm({
            title: 'Logout?',
            content: 'Your time is out, you will be automatically logged out in 10 seconds.',
            autoClose: 'logoutUser|10000',
            buttons: {
                logoutUser: {
                    text: 'logout myself',
                    action: function () {
                        return $.ajax({
                            url: '<%- process.env.DOMAIN%>api/logout',
                            contentType: false,
                            processData: false,
                            cache: false,
                        }).done(function(response) {
                            $.confirm({
                                title: 'Logout!!',
                                content: response.message,
                                buttons: {
                                    close: function () {
                                        window.location.href = "<%- process.env.DOMAIN%>";
                                    },
                                }
                            });
                        }).fail(function(err){
                            $.alert('Login failed!!! '+ err.error);
                        });
                    }
                },
                cancel: function () {}
            }
        });
    }
	
</script>