/*------------------------------------------------------------
table
------------------------------------------------------------*/
.c-table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
    $root: &;

    &--data{
        @include sp{
            width: 800px;
        }
    }

    &__wrap {
        @include sp{
            width: 100%;
            display: block;
            overflow-x: scroll;
        }
    }

    td,
    th {
        border: 1px solid #ddd;
        text-align: center;
        font-size: 1.7rem;
        line-height: 1.6;
        font-weight: 400;
        color: #444;
        padding: 18px 10px 18px;
        box-sizing: border-box;

        @include sp {
            font-size: 1.4rem;
        }
    }

    th {
        color: #fff;
        font-weight: 500;
        background-color: #464646;
    }

    tr {
        @include sp {
            max-width: initial;
            height: 100%;
            width: auto;
        }

        td {
            background: #fff;
			text-align: left;
            &:first-child {
                background-color: #f4f4f4;
            }
        }
    }

    span.word_wrap {
        display: inline-block;
        word-break: keep-all;

        @include sp {
            word-break: break-all;
        }
    }

    ul,
    ol {
        li {
            text-indent: -1em;
            padding-left: 1em;
            word-break: break-all;
        }
    }
}

/*
------------------------------------------------------------*/
.c-table02 {
    border-collapse: collapse;
    border: 1px solid #d7d7d7;
    width: 100%;
    @include sp {
        width: 800px;

        &__wrap {
            width: 100%;
            display: block;
            overflow-x: scroll;
        }
    }

    td,
    th {
        border: 1px solid #d7d7d7;
        text-align: left;
        font-size: 1.4rem;
        line-height: 1.75;
        font-weight: 400;
        color: #444;
        padding: 16px 28px 18px 28px;
        box-sizing: border-box;
        word-break: break-all;

        @include sp {
            padding: 10px 20px;
        }
    }

    th {
        color: #444;
        font-weight: 500;

        &.u-bg03 {
            color: #fff;
            font-weight: 700;
            text-align: center;
            padding: 11px 15px 14px 39px;
        }
    }

    tbody {
        tr {
            @include sp {
                width: 100%;
            }

            th {
                width: 21.9%;
            }

            td {
                width: 39.05%;
                vertical-align: top;
                background: #fff;
            }
        }
    }

    &--gray {
        thead {
            tr {
                &:first-child {
                    th {
                        background: #666666;
                    }
                }
            }
        }
    }
}

/*
------------------------------------------------------------*/
.c-table03 {
    border-collapse: collapse;
    border: 1px solid #d7d7d7;
    width: 100%;
    $root: &;

    tr {
        @include sp {
            display: flex;
            flex-wrap: wrap;
        }

        td,
        th {
            text-align: left;
            font-size: 1.4rem;
            line-height: 1.7;
            font-weight: 400;
            color: #444;
            padding: 18px 30px;
            box-sizing: border-box;

            @include sp {
                padding: 10px 20px 10px 20px;
            }
        }

        th {
            width: 280px;
            background-color: $color3;
            color: #fff;
            font-weight: 700;

            @include sp {
                width: 100%;
            }
        }

        td {
            width: calc(100% - 280px);
            border-bottom: 1px solid #d7d7d7;

            @include sp {
                width: 100%;
                border-bottom: none;
            }
        }
    }

    &--border {
        #{$root}__txt {
            display: block;
            margin-bottom: 11px;
        }

        th {
            border-bottom: 1px solid #707070;
        }

        td {
            background-color: #fff;
        }

        tr {
            &:last-child {
                th {
                    border-bottom: 1px solid $color3;
                }
            }
        }
    }
}

/*
------------------------------------------------------------*/
.c-table04 {
    background: #fff;
    padding: 41px 41px;
    @include sp {
        padding: 20px;
    }

    //-------------------------------------------------------
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px dashed #cccccc;
        padding: 0 0 14px;
        @include sp {
            padding: 0 0 10px;
        }

        &:not(:last-child) {
            margin: 0 0 15px;
            @include sp {
                margin: 0 0 10px;
            }
        }
    }

    //-------------------------------------------------------
    &__left {
        width: 235px;
        @include sp {
            width: 100%;
        }
    }

    //-------------------------------------------------------
    &__right {
        width: calc(100% - 256px);
        @include sp {
            width: 100%;
            margin: 5px 0 0;
        }
    }

    //-------------------------------------------------------
    &__link {
        text-decoration: none;
        font-size: 2rem;
        line-height: 1.5;
        color: $color2;
        font-weight: bold;
        @include sp {
            font-size: 1.6rem;
        }

        &::after {
            content: '';
            width: 12px;
            height: 12px;
            background: url('/assets/img/common/icon/icon5.svg') no-repeat center;
            background-size: cover;
            display: inline-block;
            margin: 0 0 0 10px;
            position: relative;
            top: -1px;
            @include sp {
                width: 10px;
                height: 10px;
                position: relative;
                top: 0;
                margin: 0 0 0 8px;
            }
        }
    }

    //-------------------------------------------------------
    &__txt {
        font-size: 1.4rem;
        line-height: 2;
        color: #666;
        @include sp {
            font-size: 1.2rem;
            line-height: 1.5;
        }
    }
}

/*
------------------------------------------------------------*/
.c-table05 {
    //-------------------------------------------------------
    &__row {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #d7d7d7;

        &:not(:last-child) {
            border-bottom: 0;
        }
    }

    //-------------------------------------------------------
    &__heading {
        width: 199px;
        background: #f4f4f4;
        border-right: 1px solid #d7d7d7;
        box-sizing: border-box;
        padding: 17px 29px 19px;
        @include sp {
            width: 100px;
            padding: 8px 10px;
        }
    }

    //-------------------------------------------------------
    &__ttl {
        font-size: 1.4rem;
        line-height: 1.6;
        color: #444444;
        font-weight: 500;
        @include sp {
            font-size: 1.2rem;
        }
    }

    //-------------------------------------------------------
    &__info {
        width: calc(100% - 199px);
        background: #ffffff;
        padding: 16px 30px 18px;
        box-sizing: border-box;
        @include sp {
            width: calc(100% - 100px);
            padding: 8px 10px;
        }
    }

    //-------------------------------------------------------
    &__txt {
        font-size: 1.4rem;
        line-height: 1.72;
        color: #444444;
        @include sp {
            font-size: 1.2rem;
        }
    }
}
